@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #1E30F3;
  --color-secondary: #e21e80;
  --color-accent: #D946EF;
}

/* Dark mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
  }

  /* * {
    @apply border-border;
  } */

  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}


@media screen and (min-width: 769px) {
  ::-webkit-scrollbar { width: 12px; }
  ::-webkit-scrollbar-track { background: transparent; }
  ::-webkit-scrollbar-thumb { background: #d6dee1; border-radius: 20px; }
  ::-webkit-scrollbar-thumb:hover { background: #a8bbbf; }

}

* { scrollbar-width: thin; scrollbar-color: #d6dee1 transparent; }

.navlink.active {
  font-weight: 700 !important;
  color: #1E30F3;
}



.loader {
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#1E30F3 0 0);
  background:
    var(--c) 0% 100%,
    var(--c) 50% 100%,
    var(--c) 100% 100%;
  animation: l2 1s infinite linear;
}

@keyframes l2 {
  0% {
    background-size: 20% 100%, 20% 100%, 20% 100%
  }

  20% {
    background-size: 20% 60%, 20% 100%, 20% 100%
  }

  40% {
    background-size: 20% 80%, 20% 60%, 20% 100%
  }

  60% {
    background-size: 20% 100%, 20% 80%, 20% 60%
  }

  80% {
    background-size: 20% 100%, 20% 100%, 20% 80%
  }

  100% {
    background-size: 20% 100%, 20% 100%, 20% 100%
  }
}

@keyframes fade-in {
  from { opacity: 0; transform: scale(0.98); }
  to { opacity: 1; transform: scale(1); }
}

.img-fade-in {
  animation: fade-in 1s ease-out forwards;
}


